.social-gradient-border {
  position: relative;
  overflow: visible;
  border: none !important;
  background: transparent;
}
.social-gradient-border::before {
  content: '';
  position: absolute;
  inset: -2px;
  z-index: 0;
  border-radius: 9999px;
  padding: 2px;
  background: conic-gradient(from 0deg, #f472b6, #38bdf8, #facc15, #f472b6);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}
.social-gradient-border:hover::before {
  opacity: 1;
}

.footer-gradient-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(
    to right,
    transparent 0%,
    #000000 25%,
    #ff0084 50%,
    #ffffff 75%,
    transparent 100%
  );
  background-size: 200% 100%;
  background-position: center;
  animation: footer-gradient-move 3s linear infinite;
  z-index: 10;
  pointer-events: none;
}

@keyframes footer-gradient-move {
  0% {
    background-position: center;
  }
  50% {
    background-position: left;
  }
  100% {
    background-position: center;
  }
}

@keyframes emailPulse {
  0%, 100% {
    opacity: 1;
    color: inherit;
  }
  50% {
    opacity: 1;
    color: #38bdf8; /* Change this to match your primary color */
  }
  80% {
    opacity: 1;
    color: #ff0084 /* Change this to match your primary color */
  }

}

.email-pulse {
  animation: emailPulse 3s ease-in-out infinite;
}